html { font-size:100px; font-family:'微软雅黑','苹方','思源黑体';  }  /*效果图750px*/
@media(max-width:640px){ html { font-size:85.33px; } }  /*Android常用宽度*/
@media(max-width:540px){ html { font-size:72px; } }     /*Android常用宽度*/
@media(max-width:480px){ html { font-size:64px; } }     /*Android常用宽度*/
@media(max-width:445px){ html { font-size:60px; } }
@media(max-width:414px){ html { font-size:55.2px; } }   /*i6Plus,i7Plus宽度*/
@media(max-width:375px){ html { font-size:50px; } }     /*i6,i7宽度*/
@media(max-width:360px){ html { font-size:48px; } }     /*Android常用宽度*/
@media(max-width:320px){ html { font-size:42.67px; } }    /*i5宽度*/
.footer-in{
        width: 95% !important;
        height: 95% !important;
    }
    .pot-in > h1{
        line-height: 0.7rem!important;
        font-size: 0.32rem!important;
        margin-top: 3%;
        letter-spacing: 0.1rem!important;
    }
    .info-img{
        margin: 10%;
    }
    .pop{
        height: 100% !important;
        width: 100% !important;
        flex-direction:column;
    }
    .pot-left{
        width: 90% !important;
        margin: 0.6rem auto!important;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        height:33% !important;
    }
    .pot-left:nth-of-type(2){
        bottom: 10% !important;
    }
    .pot-left-top{
        width: 50%!important;
        position: static!important;
        height: 82% !important;
    }
    .pot-right{
        width: 90% !important;
        margin: 0 auto;
    }
    .pot-left-img{
        border: none!important;
        width: 100% !important;
        padding: 0!important;
        left: 60% !important;
        position: static!important;
         transform: translate(0%, 0%) !important;
}
.pot-left-bottom{
    width: 43% !important;
    position: static!important;
}
    .pot-left-bottom h1{
        font-size: 0.32rem!important;
        margin-bottom: 0.1rem!important;
    }
    .pot-left-bottom h6{
        font-size: 0.16rem!important;
        line-height: 0.32rem!important;
        margin-top: 0.3rem!important;
        margin-bottom: 0.2rem!important;
    }
    .pot-left-bottom p {
        font-size: 0.12rem!important;
        margin-bottom: 0.2rem!important;
        width: 90% !important;
        text-align: center;
    }
.box-h1:after{
    content: none!important;
}
    .box-h1:before{
        content: none!important;
    }
