.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  .footer{
    position: relative;
    width: 100%;
    height: 100%;
    .footer-in{
      width: 638px;
      height: 415px;
      background: #3C16E1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .pot{
        width: 100%;
        height: 100%;
        position: relative;
        h1{
          width: 100%;
          color: #fff;
          font-size: 24px;
          text-align: center;
          margin-top: 3%;
        }
        .pot-in{
          width: 530px;
          height: 330px;
          position: absolute;
          top: 50%;
          left: 50%;
           transform: translate(-50%,-50%);
          display: flex;
          justify-content: space-between;

          .pot-left{
            width: 238px;
            height: 330px;
            background: #fff;
            .pot-left-top{
              width: 100%;
              height: 50%;
              background: #F10A62;
            }
            .pot-left-bottom{
              width: 100%;
              height: 50%;
              background: #D53974;
            }
          }
          .pot-right{
            width: 238px;
            height: 330px;
            background: #fff;
            .pot-right-top{
              width: 100%;
              height: 50%;
              background: #0AD1F1;
            }
            .pot-right-bottom{
              width: 100%;
              height: 50%;
              background: #11C423;
            }
          }
        }
      }

    }
  }
}