/*// flexible.js rem 适配 24份*/
/*//1rem = 80 像素*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/fileimges/dapings.png) no-repeat top center;
  line-height: 1.15;
  width: 100%;
  height: 100%;
  font-weight: 600;
}
body header {
  background: url(../images/header/header.png);
  height: 1.25rem;
  background-size: 100% 100%;
}
body header h1 {
  font-size: 0.25rem;
  color: #fff;
  font-weight: 500;
  line-height: 1rem;
  text-align: center;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainbox #container {
  width: 100%;
  height: 100%;
}
.mainbox .clumn-item {
  flex: 3;
}
.mainbox .clumn-item .panel {
  position: relative;
  height: 4.375rem;
  background: url(../images/mainbox/line-box.png) rgba(255, 255, 255, 0.03);
  font-weight: 100;
  border-radius: 0.125rem;
  padding: 0.3125rem 0.5rem 0.5rem;
  margin-bottom: 0.1875rem;
  margin-top: 0.8rem;
}
.mainbox .clumn-item .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '1';
}
.mainbox .clumn-item .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '1';
}
.mainbox .clumn-item .panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .clumn-item .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '1';
}
.mainbox .clumn-item .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '1';
}
.mainbox .clumn-item .panel h2 {
  height: 0.6rem;
  color: #fff;
  font-size: 0.25rem;
  text-align: left;
  margin: 0 0.0625rem 0 0;
  line-height: 0.6rem;
  font-weight: 400;
}
.mainbox .clumn-item .panel .h2-it {
  height: 0.6rem;
  color: #fff;
  font-size: 0.25rem;
  text-align: left;
  margin: 0 0.0625rem 0 0;
  line-height: 0.6rem;
  font-weight: 400;
}
.mainbox .clumn-item .panel .hiver {
  display: flex;
  width: 100%;
}
.mainbox .clumn-item .panel .hiver .panel-x {
  display: flex;
  width: 70%;
  flex: 3;
  flex-direction: row;
}
.mainbox .clumn-item .panel .hiver .panel-y {
  display: flex;
  flex-direction: row;
  flex: 2;
  border: 1px solid #275695;
}
.mainbox .clumn-item .panel .hiver .panel-y a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.mainbox .clumn-item .panel .hiver .panel-y .year {
  flex: 3;
  width: 30%;
  background: #0c142e;
  color: #1f457b;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainbox .clumn-item .panel .hiver .panel-y .month {
  flex: 3;
  width: 20%;
  background: #275695;
  color: #0b122c;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainbox .clumn-item .panel .chert {
  height: 3rem;
}
.mainbox .clumn-item .panel .cherrt {
  position: absolute;
  z-index: 9999;
  background: #02a6b5;
  width: 100%;
  margin-left: -31.25rem;
  height: 3rem;
}
.mainbox .clumn-item .panel .item-bin {
  background: blueviolet;
}
.mainbox .clumn-item:nth-child(2) {
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
}
.mainbox .clumn-item:nth-child(2) .juxing {
  width: 100%;
  height: 0.8rem;
  margin: 0.15rem 0;
  position: relative;
  background: url(../images/fileimges/toppng.png);
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-box {
  position: absolute;
  top: 60%;
  display: flex;
  width: 100%;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item {
  flex: 5;
  height: 2.8125rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-i {
  display: flex;
  width: 86%;
  justify-content: space-around;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-p {
  color: #fff;
  font-size: 12px;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-q {
  color: #fff;
  font-size: 12px;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-png {
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box {
  display: flex;
  width: 85%;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid #18315b;
  font-weight: 400;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box .item-box-png {
  width: 20%;
  text-align: center;
  margin-top: 6px;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box .item-box-png .item-zu1 {
  width: 0.2rem;
  height: 0.3rem;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box .xiaojiantou {
  width: 10%;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box .xiaojiantou img {
  width: 0.1rem;
  height: 0.28rem;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box .item-ju {
  font-size: 12px;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item .juxing-list .item-box .item-num {
  font-size: 12px;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item:nth-child(2) {
  flex: 3;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item:nth-child(2) .mapts {
  width: 37.5rem;
  height: 12.5rem;
  margin: 31.25rem auto;
}
.mainbox .clumn-item:nth-child(2) .juxing .juxing-item:nth-child(2) .cherts {
  width: 100%;
  height: 85%;
  margin: 0 auto;
}
.mainbox .clumn-item:nth-child(2) .no {
  padding: 0.2rem;
}
.mainbox .clumn-item:nth-child(2) .no .no-wai {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.mainbox .clumn-item:nth-child(2) .no .no-wai .no-border-item {
  position: relative;
}
.mainbox .clumn-item:nth-child(2) .no .no-wai .no-border-item .no-bord {
  width: 0.7rem;
  height: 0.7rem;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  border: 2px solid #121f40;
  opacity: 0.5;
  padding: 0.1875rem 0;
  filter: alpha(opacity=50);
  /* 针对IE*/
  background-color: rgba(0, 0, 0, 0.5);
  /*针对其他浏览器*/
}
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
.mainbox .clumn-item:nth-child(2) .no .no-wai .no-border-item .no-size {
  position: absolute;
  top: 0;
  left: 0.1875rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #97c7ff;
  font-size: 0.7rem;
}
.mainbox .clumn-item:nth-child(2) .no .no-wai .no-border-item .no-ford {
  width: 0.7rem;
  height: 0.7rem;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  border: 2px solid #121f40;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* 针对IE*/
  background-color: rgba(0, 0, 0, 0.5);
  /*针对其他浏览器*/
}
.mainbox .clumn-item:nth-child(2) .map {
  height: 6rem;
  position: relative;
}
.mainbox .clumn-item:nth-child(2) .map .map1 {
  width: 6.475rem;
  height: 6.475rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/yuan/maptime.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
  animation: rotate3 10s linear infinite;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon {
  display: flex;
  width: 25%;
  justify-content: space-around;
  position: relative;
  left: 5%;
  top: 5%;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon .laifang {
  font-size: 16px;
  color: #fff;
  width: 100%;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon .lantiao {
  width: 100%;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon .laifang-item {
  font-size: 16px;
  color: #fff;
  width: 100%;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon-fo {
  display: flex;
  width: 25%;
  justify-content: space-around;
  position: relative;
  left: 75%;
  top: 20%;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon-fo .laifang {
  font-size: 16px;
  color: #fff;
}
.mainbox .clumn-item:nth-child(2) .map .map-icon-fo .laifang-item {
  font-size: 16px;
  color: #fff;
}
.mainbox .clumn-item:nth-child(2) .map .map2 {
  width: 8.0375rem;
  height: 8.0375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  background-size: 100% 100%;
}
.mainbox .clumn-item:nth-child(2) .map .map3 {
  width: 6.875rem;
  height: 6.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/yuan/jt.png);
  opacity: 0.6;
  background-size: 100% 100%;
  animation: rotate2 10s linear infinite;
}
@keyframes rotate3 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate1 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.mainbox .clumn-item:nth-child(2) .map .chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.125rem;
}
.mainbox .clumn-item:nth-child(2) .map .juxing .juxing-box {
  background: url(../images/header/header.png);
  height: 1.25rem;
  background-size: 100% 100%;
}
/* 约束屏幕尺寸 */
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (max-width: 1360px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
