*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
.han-head{
    width: 80%;
    margin: 0 auto;
    line-height: 100px;
}
.han-all-div{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.han-all{
    width: 80%;
    height: 40%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 3%;
    margin-bottom: 100px;
    box-shadow: 0px 10px 44px 9px rgba(87, 87, 87, 0.1);
    cursor: pointer;
    position: relative;
    top: 0px;
    opacity: 1;
    transition: transform 0.5s;
}
/*.han-info{
    width: 100%;
    height: 40vh;
    margin: 50px auto;
    overflow: hidden;
    position: absolute;
    left: 10%;
    border-radius: 3%;
}*/
.han-info{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #ffffff;
}
.han-con{
    width: 100%;
    height: 100%;
}
.han-tao{
    width: 100%;
    height:40vh;
    background: url("pc_bg.jpg") center center no-repeat;
    background-size: auto 100%;
}
.video{
    overflow: hidden;
    background: #ffffff;
}
.video video{
    height: 100%;
    overflow: hidden;
}
.tao1{
    /*width: 100%;
    height:40vh;*/
    background: url("huawei-nova-6-5g-kv.jpg") center center no-repeat;
    background-size: auto 100%;
}
.han-word{
    width: 80%;
    line-height: 60px;
    font-size: 20px;
    margin: 30px auto;
}