*{
    margin: 0;
    padding: 0;
}
.box{
    padding-top: 10px;
    padding-left: 10px;
    background: red;
    float: left;
}
.box>img{
    vertical-align: top;
    border: 10px solid #fff;
    width: 200px;
}